* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5.625em 0em;
    background-color: hsl(327, 100%, 96%);
}

.outer-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 55%;
    height: fit-content;
    border-radius: 19px;
    padding: 2.5em;
}

img {
    width: 100%;
    border-radius: 7px;
    margin-bottom: 0.938em;
}

h1 { 
    margin: 0.938em 0em;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    margin-bottom: 1.563em;
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: rgb(83, 83, 83);
}

.prep-container {
    margin-top: 1.563em;
    margin-bottom: 1.875em;
    padding: 0.625em 1.563em;
    background-color: hsla(332, 100%, 88%, 0.164);
    border-radius: 5px;
}

h3 {
    color: hsl(332, 51%, 32%);
    font-family: "Outfit", serif;
    font-weight: 600;
    font-style: normal;
}

li {
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
}

.list {
    padding: 0.625em 1.563em;
}

.list li {
    padding: 0.625em 1.25em;
    color: rgb(83, 83, 83);
}

ul.meal-time li::marker {
    color: hsl(332, 51%, 32%);

}

h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(14, 45%, 36%);
}

hr {
    margin-top: 1.25em;
    margin-bottom: 1.563em;
}

ul.meal-ingredients  li::marker {
    color: hsl(14, 45%, 36%);

}

ol.meal-instructions  li::marker {
    color: hsl(14, 45%, 36%);

}

.nutrition-paragraph {
    margin-top: 1.25em;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    padding: 0em 1.875em;
    font-family: "Outfit", serif;
    font-style: normal;
}
 
 table td {
    padding: 0.5em;
    border-bottom: 1px solid black;
}

td:nth-child(1) {
    font-weight: normal;
    color: rgb(83, 83, 83);
}

td:nth-child(2) {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.attribution { 
    margin-top: 1.25em;
    font-size: 0.688rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        /* padding: 5.625em 0em; */
        background-color: hsl(327, 100%, 96%);
    }
    .outer-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: fit-content;
        border-radius: 0px;
        padding: 0em;
        /* padding: 2.5em; */
    }

    img {
        width:100%;
        border-radius: 0px;
    }

    h1 {
        margin: 0.238em 0em;
        padding: 1em 1.25em;
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 8.6vh;
        padding: 0.2em 0.2em 0.2em 0.8em;;
        line-height: 8vh;
    }

    p {
        margin-bottom: 1.563em;
        font-family: "Outfit", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4.3vw;
        color: rgb(83, 83, 83);
        padding: 0.2em 1.8em 0.2em 2em;
    }

    .prep-container {
        margin: 1.563em 2em 0.175em 2.5em;
        padding: 1.125em 1.563em;
        background-color: hsla(332, 100%, 88%, 0.164);
        border-radius: 8px;
    }

    h2 {
        margin: 1em 0em 0em 0em;
        padding: 0em 1.8em;
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
        color: hsl(14, 45%, 36%);
    }

    .list li {
        margin: 0em 2.5em;
        padding: 0.625em 1.25em;
        color: rgb(83, 83, 83);
    }
    
    hr {
        margin-top: 1.25em;
        margin-bottom: 0.563em;
        margin-left: 3em;
        width: 70%;
    }

    table {
        border-collapse: collapse;
        border-style: hidden;
        margin: 0em 2em;
        padding: 0em 1.875em;
        font-family: "Outfit", serif;
        font-style: normal;
    }
     
     table td {
        padding: 0.5em 5em;
        border-bottom: 1px solid black;
    }
}