* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5.625em 0em;
    background-color: hsl(30, 54%, 90%); 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outer-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 55%;
    height: fit-content;
    border-radius: 19px;
    padding: 2.5em;
}

img {
    width: 100%;
    border-radius: 7px;
    margin-bottom: 0.938em;
}

h1 { 
    margin: 0.738em 0em;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    margin-bottom: 1.063em;
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: hsl(24, 5%, 18%);
}

.prep-container {
    margin-top: 1.563em;
    margin-bottom: 1.875em;
    padding: 0.625em 1.563em;
    background-color: hsl(330, 100%, 98%);
    border-radius: 5px;
}

h3 {
    color: hsl(332, 51%, 32%);
    font-family: "Outfit", serif;
    font-weight: 600;
    font-style: normal;
}

.meal-prep {
    padding: 0.625em 1.563em;
}

.meal-prep li {
    padding: 0.625em 1.25em;
    color: hsl(30, 10%, 34%);
}

ul.meal-prep li::marker {
    color: hsl(332, 51%, 32%);
}

li {
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
}

.list {
    padding: 0.625em 1.563em;
}

.list li {
    padding: 0.625em 1.25em;
    color: hsl(30, 10%, 34%);
}

h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(14, 45%, 36%);
}

hr {
    margin-top: 1.25em;
    margin-bottom: 1.563em;
}

ul.meal-ingredients  li::marker {
    color: hsl(14, 45%, 36%);

}

ol.meal-instructions  li::marker {
    color: hsl(14, 45%, 36%);

}

.nutrition-paragraph {
    margin-top: 1.25em;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    padding: 0em 1.875em;
    font-family: "Outfit", serif;
    font-style: normal;
}
 
table td {
    padding: 0.5em;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

td:nth-child(1) {
    font-weight: normal;
    color: hsl(24, 5%, 18%);
}

td:nth-child(2) {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.attribution { 
    margin-top: 1.25em;
    font-size: 0.688rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-color: hsl(30, 54%, 90%); 
    }

    .title_challenge {
        text-align: center;
    }

    .outer-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: fit-content;
        height: fit-content;
        border-radius: 0px;
        padding: 0em;
        margin: 0em;
    }

    img {
        width:100%;
        border-radius: 0px;
    }

    h1 {
        margin: 0.238em 0em;
        padding: 1em 1.25em;
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 6.5vh;
        padding: 0.2em 0.2em 0.2em 0.8em;;
        line-height: 6.3vh;
    }

    p {
        margin-bottom: 1.563em;
        font-family: "Outfit", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4.3vw;
        color: hsl(24, 5%, 18%);
        padding: 0.2em 1.8em 0.2em 2em;
    }

    .prep-container {
        margin: 1.563em 1.5em 0.175em 2em;
        padding: 1.125em 1.563em;
        background-color: hsl(330, 100%, 98%);
        border-radius: 8px;
    }

    h2 {
        margin: 1em 0em 0em 0em;
        padding: 0em 1.4em;
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
        color: hsl(14, 45%, 36%);
    }

    .list {
        margin: 0em 2.1em;
        padding: 0.625em 0em 0.625em 1.563em;
    }

    .list li {
        margin: 0em 0em 0em 0em;
        padding: 0.625em 0.5em 0.625em 1.2em;
        color: hsl(30, 10%, 34%);
    }

    ol.meal-instructions {
        margin: 0em;
        padding: 0.625em 1.2em 0.625em 4em;
        color: hsl(30, 10%, 34%);
    }
    
    ol.meal-instructions li {
        margin-left: -0.4em;
    }

    hr {
        margin-top: 1.25em;
        margin-bottom: 0.563em;
        margin-left: 2.2em;
        width: 80%;
    }

    .nutrition-paragraph {
        margin-top: 1.25em;
        margin-left: 0em;
        padding-right: 2em;
    }

    table {
        border-collapse: collapse;
        border-style: hidden;
        margin: 0em 2.6em 5em 2.6em;
        padding: 0em 1.875em;
        font-family: "Outfit", serif;
        font-style: normal;
    }
     
     table, td {
        padding: 0.5em;
        width: 83%;
    }

    table td {
        border-bottom: 1px solid hsl(30, 18%, 87%);
    }
    
    td:nth-child(1) {
        padding: 0.5em 0em 0.5em 1.5em;
        font-weight: normal;
        color: hsl(24, 5%, 18%);
    }

    td:nth-child(2) {
        padding: 0.5em 6.2em 0.5em 0em;
        color: hsl(14, 45%, 36%);
        font-weight: 600;
        text-align: left;
    }
}